<h1 style="font-family: 'Kalam', cursive; margin-top:90px; " class="text-center">LOAN MANAGEMENT</h1>
<p class="text-center">Here at loan management ou can take a loan or lend out money to others</p>

<div class="body1">
  <img src="http://cdn-nativespeaker.pressidium.com/wp-content/uploads/2013/06/lend_borrow.png" alt="borrow-lend" style="margin-left: 340px; margin-top:50px;"/>
</div>
<a href="/loan" class="btn btn-primary" style="margin-top: 10px; margin-left:340px">Lend loan</a>
<a href="/borrow" class="btn btn-primary" style="margin-top: 10px; margin-left:285px">Borrow loan</a>
