<h2 style="margin-top: 90px;" class="text-center">List of borrowers</h2>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="https://rlv.zcache.com/i_see_debt_people_funny_bumper_sticker-r5cffdc1ba9504b20a9ead58e78deab53_v9wht_8byvr_324.jpg" alt="debt" />
    </div>
    <div class="col-md-6" style="margin-top: 100px;">
      <ol>
        <li style="font-size: 22px"><%= @name %> has borrowed <%= @amount %> and wil pay Ksh <%= @loan_apply %></li>
      </div>
      </ol>

  </div>
</div>
